body {
    background: #20202A;
    font-family: 'Century Gothic';
}

.Error {
    font-size: 18px;
    color: #cc0000;
    font-weight: 400;
}

.sign-form {
    max-width: 455px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.title {
    color: #eeebf5;
}

a {
    color: #eeebf5;
    font-size: 24px;
}

    a:hover {
        color: #eeebf5;
        text-decoration: underline;
    }

.lblTitle {
    color: #eeebf5;
    font-size: 30px;
    margin-bottom: 5px;
}

.button {
    color: #eeebf5;
    background: #6c43af;
    border: none;
    transition: 0.5s;
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
}

    .button:hover {
        background: #441f81;
        transition: 0.5s;
    }
